<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
    b-slate-link
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <span pr-1>Copy by</span>
    <a
    b-slate-link
      href="https://github.com/xuxizhen" target="_blank"
    >
      Xu
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
    <br>
    <span pr-1>Join Telegram group | 加入电报组:</span>
    <a
    b-slate-link
      href="https://t.me/chatgptv12345" target="_blank"
    >
      https://t.me/chatgptv12345
    </a>
    <br>
    <span>If out of use, please visit | 如资源用尽请访问 <a href="https://want.chat/" target="_blank">https://want.chat/</a></span>
  </p>
</footer>
